*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 10px 10px;
  background-color: bisque;
  border-radius: 10px;
}
.cardimg{
  width:170px;
  height: 250px;
}

P{
  margin: 10px 10px;
  font-weight:bold;
  
}

button{
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
}